@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*
{
    margin: 5px 5px;
    padding: 5px 5px ;
    box-sizing: border-box;
   }
body
{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    background-color: blue;
   
}
